{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
    .star-rating {
      display: inline-flex;
      flex-direction: row-reverse;
      gap: 0.15rem
    }
    .star-rating input {
      display: none;
    }

    .star-rating label {
      font-size: 2rem;
      color: #ccc;
      cursor: pointer;
      margin: 0;
      transition: color 0.2s ease;
    }

    .star-rating label:hover,
    .star-rating label:hover ~ label,
    .star-rating input:checked ~ label {
      color: gold;
    }
  </style>  
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <h2>{{ template_data.movie.name }}</h2>
        <hr />
        <p><b>Description:</b> {{ template_data.movie.description }}</p>
        <p><b>Price:</b> ${{ template_data.movie.price }}</p>
        <p class="card-text">
          <form method="post" action="{% url 'cart.add' id=template_data.movie.id %}">
            <div class="row">
              {% csrf_token %}
              <div class="col-auto">
                <div class="input-group col-auto">
                  <div class="input-group-text">Quantity</div>
                  <input type="number" min="1" max="10" class="form-control quantity-input" name="quantity" value="1">
                </div>
              </div>
              <div class="col-auto">
                <button class="btn bg-dark text-white" type="submit">Add to cart</button>
              </div>
            </div>
          </form>
        </p>

        <h2>Reviews</h2>
        <hr />
        <ul class="list-group">
          {% for review in template_data.reviews %}
          <li class="list-group-item pb-3 pt-3">
            <h5 class="card-title">
              Review by {{ review.user.username }}
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
              {{ review.date }}
            </h6>

            <div class="mb-2">
              <span class="{% if review.rating >= 1 %}text-warning{% else %}text-secondary{%endif%} fs-5">&#9733;</span>
              <span class="{% if review.rating >= 2 %}text-warning{% else %}text-secondary{%endif%} fs-5">&#9733;</span>
              <span class="{% if review.rating >= 3 %}text-warning{% else %}text-secondary{%endif%} fs-5">&#9733;</span>
              <span class="{% if review.rating >= 4 %}text-warning{% else %}text-secondary{%endif%} fs-5">&#9733;</span>
              <span class="{% if review.rating >= 5 %}text-warning{% else %}text-secondary{%endif%} fs-5">&#9733;</span>
              <span class= "ms-2">{{ review.rating }}/5</span>
            </div>

            <p class="card-text">{{ review.comment }}</p>
            {% if user.is_authenticated and user == review.user %}
            <a class="btn btn-primary"
              href="{% url 'movies.edit_review' id=template_data.movie.id review_id=review.id %}">
              Edit
            </a>
            <a class="btn btn-danger"
              href="{% url 'movies.delete_review' id=template_data.movie.id review_id=review.id %}">
              Delete
            </a>
            {% endif %}
            {% if user.is_authenticated and user != review.user %}
            <form method="post" action="{% url 'movies.report_review' id=template_data.movie.id review_id=review.id %}" style="display:inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-warning btn-sm">Report</button>
            </form>
            {% endif %}

          </li>
          {% endfor %}
        </ul>

        {% if user.is_authenticated %}
        <div class="container mt-4">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="card shadow p-3 mb-4 rounded">
                <div class="card-body">
                  <b class="text-start">Create a review</b><br /><br />
                  <form method="POST" action="{% url 'movies.create_review' id=template_data.movie.id %}">
                    {% csrf_token %}
                    <p>
                      <label class="form-label d-block">Rating:</label>
                      <div class="star-rating">
                        <input type="radio" id="star5" name="rating" value="5" required>
                        <label for="star5">&#9733;</label>

                        <input type="radio" id="star4" name="rating" value="4" required>
                        <label for="star4">&#9733;</label>

                        <input type="radio" id="star3" name="rating" value="3" required>
                        <label for="star3">&#9733;</label>

                        <input type="radio" id="star2" name="rating" value="2" required>
                        <label for="star2">&#9733;</label>

                        <input type="radio" id="star1" name="rating" value="1" required>
                        <label for="star1">&#9733;</label>
                      </div>
                    </p>  
                    <p>
                      <label for="comment">Comment:</label>
                      <textarea name="comment" required class="form-control" id="comment"></textarea>
                    </p>

                    <div class="text-center">
                      <button type="submit" class="btn bg-dark text-white">
                        Add Review
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% else %}
        <div class="mt-4">
          <p><b>You must be signed in to rate and review this movie.</b></p>
        </div>  
        {% endif %}
      </div>
      <div class="col-md-6 mx-auto mb-3 text-center">
        <img src="{{ template_data.movie.image.url }}" class="rounded img-card-400" />
      </div>
    </div>
  </div>
</div>
{% endblock content %}